
.icon-download:before { content: '\e800'; } /* '' */
.icon-github:before { content: '\e802'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-linkedin-1:before { content: '\f31a'; } /* '' */